<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/fragments/head :: head}"></div>

<body>

  <div th:replace="~{/fragments/header :: header}"></div>
  <main id="main">
    <section id="featured-services" class="featured-services section-bg">
      <div class="container">
        <div>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Test Name</th>
                </tr>
              </thead>
              <tbody>
                <tr scope="row" class="tests" th:each="test : ${tests}">
                  <td><a th:href="@{'/test/' + ${test.testCode}}" th:text="${test.testName}">title</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </main>
  <div th:replace="/fragments/footer :: footer"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

</body>

</html>