<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- <head th:replace="/fragments/head :: head"> -->
  <div th:replace="/fragments/head :: head"></div>


<body>

 

  <!-- ======= Header ======= -->
  <!-- <header th:replace="/fragments/header :: header"> -->
    <div th:replace="/fragments/header :: header"></div>

 <!-- End Header -->
  
  <main id="main">
   
    <section id="featured-services" class="featured-services section-bg">
      <div class="container">
       <div class="seedstarterlist" th:unless="${#lists.isEmpty(allseedstarter)}">

        <h2 th:text="#{title.lists}">List of seed Starter</h2>

        <table>
<thead> 
  <tr>
    <th th:text="#{seedstarter.dataPlanted}">Data Planted</th>
    <th th:text="#{seedstarter.covered}">Covered</th>
    <th th:text="#{seedstarter.type}">Type</th>
    <th th:text="#{seedstarter.features}">Features</th>
    <th th:text="#{seedstarter.rows}">Rows</th>
  </tr>
</thead>
<tbody>
  
   
  </tr>
</tbody>

        </table>

       </div>



      </div>
    </section>
  </main>
  <!-- End #main -->
  
   <!-- ======= Footer ======= -->
   <div th:replace="/fragments/footer :: footer"></div>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
  
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>