<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/fragments/head :: head}"></div>

<body>
  <div th:replace="~{/fragments/header :: header}"></div>
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Test Page</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Test Page</li>
          </ol>
        </div>
      </div>
    </section>
    <section id="featured-services" class="featured-services section-bg">
      <div class="container">
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Test Code</th>
                <th scope="col">Test Name</th>
              </tr>
            </thead>
            <tbody>
              <tr scope="row" class="tests" th:each="test : ${tests}">
                <td th:text="${test.testCode}" />
                <td th:text="${test.testName}" />
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
  <div th:replace="~{/fragments/footer :: footer}"></div>
</body>
</html>