<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- <head th:replace="/fragments/head :: head"> -->
<div th:replace="/fragments/head :: head"></div>


<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <h2 class="tests" th:text="${test.testName}"></h2>
  </section>

  <!-- ======= Header ======= -->
  <!-- <header th:replace="/fragments/header :: header"> -->
  <!-- <div th:replace="/fragments/header :: header"></div> -->

  <!-- End Header -->

  <main id="main">
    <section id="featured-services" class="featured-services section-bg">
      <div class="container">
        <div>
          <form th:object="${testPanel}" method="post">
            <fieldset>
              <ul>
                <li th:each="question : ${test.questions}">
                  <label th:text="${question.questionName}"></label><BR>
                  <input type="radio" th:id="'optionA_' + ${question.questionId}" th:name="'question_' + ${question.questionId}" 
                  th:field="${testPanel.answer}" 
                  th:value="A" />
                  <label th:for="'optionA_' + ${question.questionId}" th:text="${question.optionA}"></label><BR>

                    <input type="radio" th:id="'optionB_' + ${question.questionId}" th:name="'question_' + ${question.questionId}"  th:value="B" />
                  <label th:for="'optionB_' + ${question.questionId}" th:text="${question.optionB}"></label><BR>

                    <input type="radio" th:id="'optionC_' + ${question.questionId}" th:name="'question_' + ${question.questionId}"  th:value="C" />
                  <label th:for="'optionC_' + ${question.questionId}" th:text="${question.optionC}"></label><BR>

                    <input type="radio" th:id="'optionD_' + ${question.questionId}" th:name="'question_' + ${question.questionId}"  th:value="D" />
                  <label th:for="'optionC_' + ${question.questionId}" th:text="${question.optionD}"></label><BR>
                </li>
              </ul>
            </fieldset>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
          </form>

        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <!-- <div th:replace="/fragments/footer :: footer"></div> -->
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>