<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/fragments/head :: head}"></div>

<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="index.html">TestApp</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
          <h2 class="logo me-auto" th:text="${test.testName}"></h2>


    <nav id="navbar" class="navbar">
      <ul>
        <span sec:authorize="isAuthenticated">
          <li class="nav-link scrollto" th:text="${account.firstname}"></li>
        </span>

        <span sec:authorize="isAuthenticated">
          <li class="nav-link scrollto"><span> <img th:src="@{${profilephoto}}" class="rounded-circle"
                style="width: 50px; float: left; padding: 10px 10px 10px 10px;" alt="Avatar" /></span>
          </li>
        </span>

        <span sec:authorize="isAuthenticated">
          <li class="nav-link scrollto" ><a class="nav-link scrollto " href="/home">STOP</a></li>
        </span>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </div>
</header>

<body>

  
    <h5 class="text-center" >Question</h5>
  


  <main id="main">
    <section id="featured-services" class="featured-services section-bg">
      <div class="container">
       
       

      </div>
    </section>
  </main>


</body>

</html>